@use 'mixins' as *; 

.error404 {
    .blog_layouts_content_spacer {
        min-height: 70vh;
    }

    .blog_layouts_error {
        background-color: rgb(37, 3, 3);
        border: 1px solid rgb(163, 0, 0);
        border-radius: 4px;
        padding: 1em;
        max-width: 25em;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .blog_layouts_404_headline_row {
            display: flex;
            align-items: center;
            gap: 1em;

            h1 {
                color: red;
            }
        }

        a {
            @include color_button;
        }
    }
}