.blog_layouts_cards_posts_list{
    gap: var(--blog_layouts_feed_post_card_spacing);
    display: flex;
    flex-direction: column;
    padding: 0 2vw;
    margin: 0;
    margin-bottom: 2em;
    max-width: 60em;
}

.blog_layouts_post_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid var(--blog_layouts_primary_variant_darker);
    background-color: var(--blog_layouts_feed_post_card_background_color);
    border-radius: var(--blog_layouts_feed_post_card_border_radius);
    padding: var(--blog_layouts_feed_post_card_padding);
    box-shadow: 0 0 20px 0px var(--blog_layouts_primary_variant_much_darker);
    font-size: clamp(0.8em, 1vw, 1em);

    .blog_layouts_post_card_row_1 {
        display: flex;
        flex-wrap: wrap;
        width: 100%;

        .blog_layouts_post_card_image_container {
            flex: 1 0 40%;
            box-sizing: border-box;
            padding: 0.5em;

            img {
                width: 100%;
                height: auto;
                aspect-ratio: 4 / 3;
                object-fit: cover;
                border-radius: var(--blog_layouts_feed_post_card_border_radius_image);
            }
        }
        
        .blog_layouts_post_card_content_div {
            flex: 1 0 60%;
            display: flex;
            flex-direction: column;
            padding: 0 2%;
            box-sizing: border-box;
            min-width: 20em;

            a {
                text-decoration: none;
                
                h2 {
                    color: var(--blog_layouts_primary_color);
                }
                &:hover h2 {
                    color: var(--blog_layouts_primary_variant_brighter);
                }
            }
            
            p {
                line-height: var(--blog_layouts_feed_post_card_line_height);
            }

            .blog_layouts_post_card_buttom_row {
                display: flex;
                flex-direction: column;
                margin-top: auto;

                .blog_layouts_post_card_link_div {
                    display: flex;
                    align-items: end;
                    gap: 0.5em;
                    
                    .blog_layouts_post_card_comments_count {
                        text-decoration: underline;
                        margin-bottom: 0.5em;
                    }
                    
                    .blog_layouts_post_card_read_more {
                        margin-left: auto;
                        border: 1px solid;
                        padding: 1em;
                        border-radius: 4px;
                        color: var(--blog_layouts_font_color);

                        &:hover {
                            border-color: var(--blog_layouts_primary_color);
                        }
                    }
                }
            }
        }
    }
    .blog_layouts_post_card_tags_div ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0;
        list-style: none;
        margin: 0.5em;
        gap: 0.4em;

    }

    .blog_layouts_post_card_footer_row {
        display: flex;
        align-items: center;
        width: 100%;

        .blog_layouts_post_card_tags_div {
            flex: 1;

            .blog_layouts_tag {
                border-radius: var(--blog_layouts_tags_border_radius);
                border: 1px solid rgb(95, 95, 95);
                padding: 0.8em;
                background-color: #303030;
                cursor: pointer;
                color: rgb(177, 177, 177);
                text-decoration: none;
                white-space: nowrap;
                font-size: 0.8em;
            }
        }
    }

    .blog_layouts_post_card_sticky_pin {
        display: none;
    }

    &.blog_layouts_sticky_post {
        background-color: var(--blog_layouts_primary_variant_much_darker);

        .blog_layouts_post_card_sticky_pin {
            margin-left: 1em;
            display: block;
        }
    }
}

.blog_layouts_post_card:hover {
    transition: all .2s;
    box-shadow: 0 0 40px 5px var(--blog_layouts_primary_color);
    outline: 2px solid var(--blog_layouts_primary_color);
}