.blog_layouts_discover_posts_list {
    padding: 0 1em;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 2em;
    margin-bottom: 2em;
    width: 100%;
    align-items: center;
    
    li {
        list-style: none;
    }

    @media only screen and (min-width: 800px) {
        padding: 0 2vw;
    }
}

.blog_layouts_discover_post_list_item {
    display: flex;
    flex-direction: column;
    max-width: 50em;
    gap: 0.5em;
    width: 100%;

    @media only screen and (min-width: 1100px) {
        min-width: 45em;
    }

    a {
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    .blog_layouts_discover_post_list_item_image_container img {
        max-height: 20em;
        border-radius: 24px;
        object-fit: cover;
        width: 100%;

        &:hover {
            filter: brightness(0.9);
        }
    }

    &:not(:last-child)::after {
        content: '';
        margin-top: 1em;
        border-bottom: 1px solid gray;
    }

    .blog_layouts_discover_post_list_item_last_row {
        display: flex;
        align-items: center;
        gap: 0.5em;

        img {
            height: 2em;
            width: 2em;
            border-radius: 5em;
        }

        .blog_layouts_discover_post_list_item_date {
            margin-right: auto;
        }
    }

    .blog_layouts_discover_post_list_item_sticky_pin {
        display: none;
    }

    &.blog_layouts_sticky_post {
        .blog_layouts_discover_post_list_item_sticky_pin {
            display: block;
        }
    }
}