#blog_layouts_footer {
    background-color: var(--blog_layouts_primary_variant_darker);
    padding-bottom: 0;
    grid-area: footer;
    font-size: clamp(0.8em, 2vw, 1em);
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: auto;
    
    .footer-menu {
        padding: clamp(0em, 5vw, 5em);
        padding-left: 0.5em;
        display: flex;
        gap: 2em;
        flex-wrap: wrap;
        margin: 0;

        ul {
            display: block;
            padding: 0;
        }

        li {
            list-style: none;

            a {
                font-size: 1.1em;
                color: #cef5f5;
                text-decoration: none;
            }

            li {
                margin-top: 0.5em;

                a {
                    font-size: 1.3em;
                    color: var(--blog_layouts_font_color);
                    text-decoration: underline;
                }
            }
        }
    }

    .blog_layouts_footer_info {
        display: flex;
        justify-content: center;
        width: 100%;
        background-color: var(--blog_layouts_primary_variant_much_darker);

        a {
            color: var(--blog_layouts_primary_color);
        }
    }
}