.blog_layouts_gradient_header {
    background: var(--blog_layouts_gradient);

    #blog_layouts_mobile_menu_toggle_button {
        border: none;
        display: none;
        margin: 0.5em;
        font-size: 1.5em;
        background-color: var(--blog_layouts_primary_variant_much_darker);
        padding: 0.5em 0.8em;
        box-shadow: none;
        cursor: pointer;
        border-radius: 4px;
        border: 1px solid;

        @media only screen and (max-width: 600px) {
            display: block;
        }
    }

    .blog_layouts_header_menu{
        display: flex;
        justify-content: center;
        background-color: var(--blog_layouts_primary_variant_much_darker);
        white-space: nowrap;
        width: 100%;
        user-select: none;
        list-style: none;
        overflow-x: clip;
        margin: 0;
        padding: 0;
        flex-wrap: wrap;
        font-size: var(--blog_layouts_header_menu_font_size);

        li {
            position: relative;
            display: flex;
            transition: background-color 400ms;
            border-radius: 8px;

            .blog_layouts_menuitem_container {
                display: flex;
                align-items: center;
                
                a {
                    padding: 0.8em 0.2em 0.8em 0.5em;
                    margin: 0.2em;
                    text-decoration: none;
                    color: var(--blog_layouts_font_color);
                    font-family: Arial, Helvetica, sans-serif;
                    font-size: 0.8em;
                }
            }
            
            ul {
                display: none;
                position: absolute;
                flex-direction: column;
                overflow: visible;
                background-color: var(--blog_layouts_primary_variant_much_darker);
                top: 100%;
                padding: 0;
                z-index: 5;
                
                li {
                    transition: all 100ms;
                }
                
                ul {
                    left: 100%;
                    top: 0;
                }
            }
            
            @media only screen and (min-width: 600px) {
                >ul .blog_layouts_submenu_toggle{
                    transform: rotate(-90deg);
                }

                &:hover, &:focus-within {
                    background-color: var(--blog_layouts_primary_variant_darker);
                    >ul {
                        display: flex;
                    }
                }
            }
        }

        ::-webkit-scrollbar {
            display: none;
        }
    }

        
    .blog_layouts_header_mobile_content,
    .blog_layouts_header_content{
        max-height: 3.5em;
        padding: 1em;
        max-width: 50em;
        display: flex;
        justify-content: center;
        gap: 0.5em;

        .blog_layouts_header_logo {
            display: flex;
            width: 4em;

            img {
                height: 100%;
            }
        }

        .search-form {
            display: flex;
            gap: 0.5em;

            label {
                display: flex;
            }
        }
        .search-field{
            border-radius: 2em;
            border: 1px solid rgb(56, 56, 56);
            padding: 1em;
            width: 30vw;
            max-width: 30em;
            min-width: 20em;
            background-color: rgb(22, 22, 24);
            color: var(--blog_layouts_font_color);

            @media only screen and (max-width: 800px) {
                min-width: 40vw;
            }
        }

        .search-submit {
            border-radius: 2em;
            border: none;
            padding: 0 2em;
            color: var(--blog_layouts_font_color);
            background-color: var(--blog_layouts_primary_variant_darker);
            cursor: pointer;
            
            &:hover {
                background-color: var(--blog_layouts_primary_variant_much_darker);
            }
        }
    }

    .blog_layouts_header_mobile_content {
        display: none;
    }

    // mobile menu
    @media only screen and (max-width: 600px) {
        .blog_layouts_header_menu {
            max-height: 0;
            overflow: hidden;
            visibility: hidden;
            opacity: 0;
        }

        .blog_layouts_header_content {
            display: none;
        }

        .blog_layouts_header_mobile_content {
            display: flex;
        }
        
        &.blog_layouts_header_menu_open {
            
            .blog_layouts_header_menu{
                transition: max-height 300ms;
                visibility: visible;
                opacity: 1;
                flex-direction: column;
                align-items: center;
                font-size: 1.5em;
                background-color: transparent;
                max-height: 1000vh;
                flex-wrap: nowrap;

                li{
                    flex-direction: column;
                    width: 70%;
                    
                    .blog_layouts_menuitem_container a{
                        white-space: normal;
                        flex: 1;
                    }

                    .blog_layouts_submenu_toggle {
                        border-radius: 4px;
                        border: 1px solid;
                        padding: 0.3em 0.5em;
                    }

                    ul {
                        position: static;
                        width: 100%;
                        background: unset;

                        li {
                            width: 90%;
                            padding-left: 10%;
                        }
                    }
                }
                .blog_layouts_submenu_open {
                    >.blog_layouts_menuitem_container {
                        a {
                            font-weight: bold;
                        }
                        
                        .blog_layouts_submenu_toggle{
                            transform: rotate(180deg);
                            background-color: var(--blog_layouts_primary_variant_much_darker);
                        }
                    }

                    > .sub-menu{
                        display: flex;
                    }
                }
            }
        }
    }
}