/*
    Contains a uniform style for all pagination: feed, post, author page, search, wp-blocks.
*/

$font-size: clamp(12px, 1.5vw, 16px);

.blog_layouts_pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: $font-size;
    max-width: 100%;

    ::-webkit-scrollbar {
        height: 1px;
    }

    .blog_layouts_pagination_controls a {
        background-color: var(--blog_layouts_primary_color);
        margin: 0 0.5em;
        padding: 0.8em 2em;
        display: flex;
        color: rgb(14, 14, 14);
    }

    .blog_layouts_pagination_content {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        max-width: 100%;
    }

    .blog_layouts_pagination_pages {
        display: flex;
        overflow-x: auto;
        gap: 0.5em;
        padding: 0 0.1em;
    }
}

// basic pagination layout for all elements (Numbers + Buttons)
#blog_layouts_main_content .wp-polls-paging a, 
#blog_layouts_main_content .wp-polls-paging span,
.wp-block-query-pagination-next,
.wp-block-query-pagination-previous,
.blog_layouts_pagination_controls a,
.post-page-numbers,
.page-numbers {
    border-radius: 4px;
    padding: 0.8em 1.2em;
    background-color: black;
    border: solid 1px gray;
    white-space: nowrap;
    user-select: none;
}

// pagination current page
#blog_layouts_main_content .wp-polls-paging .current,
.current {
    background-color: var(--blog_layouts_primary_variant_darker);
    color: var(--blog_layouts_font_color);
}

// pagination hover
.wp-block-query-pagination-next:hover,
.wp-block-query-pagination-previous:hover,
.blog_layouts_pagination_controls a:hover,
.page-numbers:not(.current, .dots):hover,
.post-page-numbers:not(.current, .dots):hover {
    background-color: rgb(54, 54, 54);
}

.dots{
    background-color: transparent;
}

.wp-block-query-pagination.is-layout-flex {
    flex-wrap: nowrap;
    font-size: $font-size;
    align-items: flex-start;
}

.wp-block-query-pagination-numbers {
    overflow-x: auto;
}

#blog_layouts_main_content .wp-polls-paging {
    display: flex;
    justify-content: center;
    gap: 0.5em;
    font-size: $font-size;
    overflow-x: auto;
}

#blog_layouts_main_content .wp-polls-paging {
    a, span {
        color: var(--blog_layouts_font_color);
    }
}