.blog_layouts_search_engine_posts_list {
    padding: 0;
    margin: 1em 0 1em 0;
    max-width: 80em;

    > .blog_layouts_searchresult {
        padding-top: 0;
    }
}

.blog_layouts_searchresult {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    gap: 1em;
    padding: 2em 1.5em;

    .blog_layouts_searchresult_image_a {
        margin: 1em 1em 1em 0;
        img {
            aspect-ratio: 1 / 1;
            border-radius: 4px;
            max-height: 8em;
            object-fit: cover;
        }
    }

    .blog_layouts_searchresult_content {
        flex: 1 0 60%;

        a {
            text-decoration: none;
        }
        
        h2 {
            color: var(--blog_layouts_primary_color);

            &:hover {
                color:  var(--blog_layouts_primary_variant_brighter);
                text-decoration: underline;
            }
        }

        p {
            line-height: 1.5em;
        }
    }

    &::after {
        content: ' ';
        position: absolute;
        border-bottom: 1px solid;
        height: 20px;
        width: 90%;
        bottom: 0;
        color: gray;
    }

    .blog_layouts_searchresult_sticky_pin {
        display: none;
    }

    &.blog_layouts_sticky_post {
        .blog_layouts_searchresult_sticky_pin {
            display: inline;
        }
    }
}