.blog_layouts_stackoverflow_header {
    border-top: 2px solid var(--blog_layouts_primary_color);
    border-bottom: 1px solid gray;

    .blog_layouts_stackoverflow_header_content {
        display: flex;
        gap: 0.5em;
        align-items: center;
        width: 80%;
        max-width: 70em;

        @media screen and (max-width: 650px) {                
            width: 90%;
        }

        .blog_layouts_stackoverflow_website_name {
            text-decoration: none;
            color: var(--blog_layouts_font_color);
            font-weight: bold;
        }

        .blog_layouts_stackoverflow_header_search_div {
            display: flex;
            flex: 1;

            .search-form {
                flex: 1;

                label {
                    flex: 1;
                }
    
                .search-field {
                    @media screen and (max-width: 650px) {
                        display: none;
                    }
                }
            }

            #blog_layouts_header_search_icon {
                background-color: unset;
                border: none;
                cursor: pointer;
                display: none;

                @media screen and (max-width: 650px) {
                    display: block;
                }
            }

            @media screen and (max-width: 650px) {
                justify-content: flex-end;

                .search-form {
                    flex: none;
                }
            }
        }

        .blog_layouts_stackoverflow_header_icons {
            padding: 0;
            margin: 0;
            display: flex;

            li {
                list-style: none;
                display: flex;

                a {
                    text-decoration: none;
                    padding: 1em 0.7em;
                    color: var(--blog_layouts_font_color);
                    font-size: 1.2em;

                    &:hover {
                        background-color: rgba(0, 0, 0, 0.356);
                    }
                }
            }
        }
    }

    #blog_layouts_expandable_search_field {
        display: none;

        &.blog_layouts_header_search_open {
            @media screen and (max-width: 650px) {                
                display: flex;
                width: 90%;
            }
        }

        form {
            flex: 1;
        }

        padding: 0.5em;
    }

    .search-field {
        border: 1px solid gray;
        border-radius: 4px;
        height: 2.5em;
        background-color: transparent;
        padding-left: 1em;
        width: 100%;
        display: block;

        &:focus {
            outline: none;
            box-shadow: 0px 0px 3px 3px var(--blog_layouts_primary_color), 0 0 0px 1000px black inset;;
        }
    }

    .search-submit {
        display: none;
    }
}