.blog_layouts_stackoverflow_header {
    border-top: 2px solid var(--blog_layouts_primary_color);
    border-bottom: 1px solid gray;
    background-color: inherit;

    .blog_layouts_stackoverflow_header_content {
        display: flex;
        gap: 0.5em;
        align-items: stretch;
        width: 80%;
        max-width: 70em;

        @media screen and (max-width: 650px) {                
            width: 90%;
        }

        .blog_layouts_stackoverflow_mobile_toggle_button_container {
            position: relative;
            display: flex;

            #blog_layouts_mobile_menu_toggle_button {
                background-color: unset;
                border: unset;
                cursor: pointer;
                font-size: 1.2em;
                width: 3em;
            }
            
            #blog_layouts_header_mobile_menu {
                position: absolute;
                top: 100%;
                background-color: var(--blog_layouts_background_color);
                width: 20em;
                padding: 0.5em;
                border: 1px solid gray;
                border-top: none;
                max-height: 80vh;
                display: flex;
                height: 0;
                visibility: hidden;
                flex-direction: column;
                
                .blog_layouts_stackoverflow_header_mobile_icons {
                    padding: 0;
                    margin: 0;
                    display: flex;
                    justify-content: space-evenly;
                    
                    li {
                        list-style: none;
                        display: flex;
                        
                        a {
                            color: var(--blog_layouts_font_color);
                            height: 3em;
                            width: 3em;
                            font-size: 1.2em;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            text-decoration: none;
                            
                            &:hover {
                                background-color: rgba(0, 0, 0, 0.356);
                            }
                        }
                    }
                }
                
                .blog_layouts_header_menu {
                    overflow-y: auto;
                    height: 100%;
                    padding: 0;

                    a {
                        color: var(--blog_layouts_font_color);
                        text-decoration: none;
                        font-weight: bold;
                        padding: 0.8em;

                        &:hover {
                            background-color: rgba(0, 0, 0, 0.356);
                        }
                    }

                    li {
                        list-style: none;
                        display: flex;
                        flex-direction: column;
                        
                        ul {
                            padding-left: 0.5em;

                            a {
                                font-weight: unset;
                            }
                        }
                    }
                }
            }
        }

        .blog_layouts_stackoverflow_website_name {
            text-decoration: none;
            color: var(--blog_layouts_font_color);
            font-weight: bold;
            display: flex;
            align-items: center;
        }

        .blog_layouts_stackoverflow_header_search_div {
            display: flex;
            flex: 1;
            align-items: center;

            .search-form {
                flex: 1;

                label {
                    flex: 1;
                }
    
                .search-field {
                    @media screen and (max-width: 650px) {
                        display: none;
                    }
                }
            }

            #blog_layouts_header_search_icon {
                background-color: unset;
                border: none;
                cursor: pointer;
                display: none;
                font-size: 1.2em;
                padding: 1em 0.7em;

                @media screen and (max-width: 650px) {
                    display: block;
                }
            }

            @media screen and (max-width: 650px) {
                justify-content: flex-end;

                .search-form {
                    flex: none;
                }
            }
        }

        .blog_layouts_stackoverflow_header_icons {
            padding: 0;
            margin: 0;
            display: flex;

            @media screen and (max-width: 650px) {                
                display: none;
            }

            li {
                list-style: none;
                display: flex;

                a {
                    text-decoration: none;
                    padding: 1em 0.7em;
                    color: var(--blog_layouts_font_color);
                    font-size: 1.2em;

                    &:hover {
                        background-color: rgba(0, 0, 0, 0.356);
                    }
                }
            }
        }
    }

    #blog_layouts_expandable_search_field {
        display: none;

        &.blog_layouts_header_search_open {
            @media screen and (max-width: 650px) {                
                display: flex;
                width: 90%;
            }
        }

        form {
            flex: 1;
        }

        padding: 0.5em;
    }

    .search-field {
        border: 1px solid gray;
        border-radius: 4px;
        height: 2.5em;
        background-color: transparent;
        padding-left: 1em;
        width: 100%;
        display: block;

        &:focus {
            outline: none;
            box-shadow: 0px 0px 3px 3px var(--blog_layouts_primary_color), 0 0 0px 1000px black inset;;
        }
    }

    .search-submit {
        display: none;
    }

    &.blog_layouts_header_menu_open .blog_layouts_stackoverflow_header_content .blog_layouts_stackoverflow_mobile_toggle_button_container #blog_layouts_header_mobile_menu {
        height: auto;
        visibility: visible;
    }
}