.lime_blog_comments_area {
  margin: 3em 0 10em 0;
  font-size: 0.8em;
}
.lime_blog_comments_area .lime_blog_comment_list {
  padding-left: 0;
}
.lime_blog_comments_area a {
  color: rgb(177, 177, 177);
}
.lime_blog_comments_area .comment, .lime_blog_comments_area .children, .lime_blog_comments_area .pingback {
  list-style: none;
  padding: 1% 2%;
}
.lime_blog_comments_area .comment li, .lime_blog_comments_area .children li, .lime_blog_comments_area .pingback li {
  border-radius: 4px;
}
.lime_blog_comments_area .comment li ol, .lime_blog_comments_area .children li ol, .lime_blog_comments_area .pingback li ol {
  padding-left: 0.5em;
}
.lime_blog_comments_area .comment-body {
  background-color: black;
  padding: 1em;
  border-radius: 16px;
}
.lime_blog_comments_area .comment-content {
  background-color: var(--lime_blog_comments_background_color);
  padding: 1em;
  margin: 1em 0.5em;
  border-radius: 4px;
  overflow-wrap: break-word;
  max-height: 40em;
  overflow-y: auto;
}
.lime_blog_comments_area .comment-content > p {
  margin: 0;
}
.lime_blog_comments_area .bypostauthor .url {
  background-color: var(--lime_blog_primary_color);
  border-radius: 8px;
  padding: 0.2em;
  color: black;
}
.lime_blog_comments_area .bypostauthor .url:after {
  content: " \f4ff";
  font-family: "Font Awesome Solid";
}
.lime_blog_comments_area .reply {
  margin: 0 0.5em;
  display: flex;
}
.lime_blog_comments_area .reply a {
  border-radius: 4px;
  padding: 0.8em 1.2em;
  background-color: black;
  border: solid 1px gray;
  white-space: nowrap;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  text-decoration: none;
  color: rgb(177, 177, 177);
  cursor: pointer;
}
.lime_blog_comments_area .reply a:hover {
  background-color: rgb(41, 41, 41);
}
.lime_blog_comments_area .says {
  display: none;
}
.lime_blog_comments_area .vcard {
  display: flex;
  gap: 0.5em;
  align-items: center;
  font-size: 1.3em;
}
.lime_blog_comments_area .vcard img {
  border-radius: 8px;
}
.lime_blog_comments_area .vcard .url {
  text-decoration: none;
}
.lime_blog_comments_area .comment-metadata {
  display: flex;
  justify-content: space-between;
  padding: 0.8em 1em 0.3em 1em;
}
.lime_blog_comments_area .comment-form {
  padding: 0 3%;
}
.lime_blog_comments_area .comment-form .comment-form-comment {
  display: flex;
  flex-direction: column;
}
.lime_blog_comments_area .comment-form .comment-form-comment textarea {
  resize: vertical;
  max-width: 90vw;
}
.lime_blog_comments_area .comment-form .comment-form-author,
.lime_blog_comments_area .comment-form .comment-form-email,
.lime_blog_comments_area .comment-form .comment-form-url {
  display: flex;
  flex-direction: column;
}
.lime_blog_comments_area .lime_blog_comment_reply_title {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  margin-top: 0.5em;
  padding: 0 3%;
}
.lime_blog_comments_area .lime_blog_comment_reply_title small {
  margin-left: auto;
}
.lime_blog_comments_area .lime_blog_comment_reply_title small a {
  color: rgb(146, 0, 0);
}

.wp-block-latest-comments__comment {
  background-color: black;
  padding: 0.5em;
  border-radius: 4px;
}
.wp-block-latest-comments__comment .wp-block-latest-comments__comment-excerpt {
  overflow-wrap: anywhere;
  word-wrap: break-all;
}/*# sourceMappingURL=comments.css.map */