.clean_space_comments_area {
    margin-top: 3em;
    font-size: 0.8em;

    .clean_space_comment_list {
        padding-left: 0;
        // font-size: clamp(0.8em, 2vw, 1em);
    }

    a {
        color: rgb(177, 177, 177);
    }

    .comment, .children, .pingback  {
        list-style: none;
        padding: 1% 2%;

        li {
            border-radius: 4px;
            padding: 2%;

            ol {
                padding-left: 0.5em;
            }
        }
    }

    .comment-content {
        background-color: #1d2027;
        padding: 1em;
        margin: 1em 0.5em;
        border-radius: 4px;
        overflow-wrap: break-word;
        max-height: 40em;
        overflow-y: auto;

        > p {
            margin: 0;
        }
    }

    .bypostauthor {
        .url {
            background-color: #0f01cf;
            border-radius: 8px;
            padding: 0.2em;
            color: black;

            &:after {
                content: ' \f4ff';
                font-family: 'Font Awesome Solid';
            }
        }
    }

    .reply {
        margin: 0 0.5em;
        display: flex;

        a {
            border-radius: 4px;
            padding: 0.8em 1.2em;
            background: black;
            border: solid 1px gray;
            white-space: nowrap;
            user-select: none;
            text-decoration: none;

            &:hover {
                background-color: rgb(41, 41, 41);
            }
        }
    }

    .says {
        display: none;
    }

    .vcard {
        display: flex;
        gap: 0.5em;
        align-items: center;
        font-size: 1.3em;

        img {
            border-radius: 3em;
        }

        .url {
            text-decoration: none;
        }
    }

    .comment-metadata {
        display: flex;
        justify-content: space-between;
        padding: 0.8em 1em 0.3em 1em;
    }

    .comment-form {
        padding: 3%;

        .comment-form-comment {
            display: flex;
            flex-direction: column;

            textarea {
                resize: vertical;
                max-width: 90vw;
            }
        }

        .comment-form-author,
        .comment-form-email,
        .comment-form-url {
            display: flex;
            flex-direction: column;
        }
    }

    .clean_space_comment_reply_title {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5em;
        margin-top: 0.5em;

        small {
            margin-left: auto;

            a {
                color: rgb(146, 0, 0);
            }
        }
    }
}

.wp-block-latest-comments__comment {
    background-color: black;
    padding: 0.5em;
    border-radius: 4px;

    .wp-block-latest-comments__comment-excerpt {
        overflow-wrap: anywhere;
        word-wrap: break-all;
    }
}