.blog_layouts_comments_layout_material3 {
  margin: 3em 0 10em 0;
  font-size: 0.8em;
}
.blog_layouts_comments_layout_material3 .blog_layouts_comment_list {
  padding-left: 0;
}
.blog_layouts_comments_layout_material3 a {
  color: rgb(177, 177, 177);
}
.blog_layouts_comments_layout_material3 .comment, .blog_layouts_comments_layout_material3 .children, .blog_layouts_comments_layout_material3 .pingback {
  list-style: none;
  padding: 1% 2%;
}
.blog_layouts_comments_layout_material3 .comment li, .blog_layouts_comments_layout_material3 .children li, .blog_layouts_comments_layout_material3 .pingback li {
  border-radius: 4px;
}
.blog_layouts_comments_layout_material3 .comment li ol, .blog_layouts_comments_layout_material3 .children li ol, .blog_layouts_comments_layout_material3 .pingback li ol {
  padding-left: 0.5em;
}
.blog_layouts_comments_layout_material3 .comment-body {
  background-color: var(--blog_layouts_primary_variant_much_darker);
  padding: 1em;
  border-radius: 16px;
}
.blog_layouts_comments_layout_material3 .comment-body:hover {
  filter: brightness(1.1);
}
.blog_layouts_comments_layout_material3 .comment-content {
  padding: 1em;
  margin: 1em 0.5em;
  border-radius: 4px;
  overflow-wrap: break-word;
  max-height: 40em;
  overflow-y: auto;
}
.blog_layouts_comments_layout_material3 .comment-content > p {
  margin: 0;
}
.blog_layouts_comments_layout_material3 .bypostauthor .url {
  background-color: var(--blog_layouts_primary_color);
  border-radius: 8px;
  padding: 0.2em;
  color: black;
}
.blog_layouts_comments_layout_material3 .bypostauthor .url:after {
  content: " \f4ff";
  font-family: "Font Awesome Solid";
}
.blog_layouts_comments_layout_material3 .reply {
  margin: 0 0.5em;
  display: flex;
}
.blog_layouts_comments_layout_material3 .reply a {
  border-radius: 5em;
  padding: 1em;
  background-color: var(--blog_layouts_primary_variant_darker);
  text-decoration: none;
  color: var(--blog_layouts_font_color);
}
.blog_layouts_comments_layout_material3 .reply a:hover {
  background-color: var(--blog_layouts_primary_color);
}
.blog_layouts_comments_layout_material3 .says {
  display: none;
}
.blog_layouts_comments_layout_material3 .vcard {
  display: flex;
  gap: 0.5em;
  align-items: center;
  font-size: 1.3em;
}
.blog_layouts_comments_layout_material3 .vcard img {
  border-radius: 8px;
}
.blog_layouts_comments_layout_material3 .vcard .url {
  text-decoration: none;
}
.blog_layouts_comments_layout_material3 .comment-metadata {
  display: flex;
  justify-content: space-between;
  padding: 0.8em 1em 0.3em 1em;
}
.blog_layouts_comments_layout_material3 .comment-form {
  padding: 0 3%;
}
.blog_layouts_comments_layout_material3 .comment-form .comment-form-comment {
  display: flex;
  flex-direction: column;
}
.blog_layouts_comments_layout_material3 .comment-form .comment-form-comment textarea {
  resize: vertical;
  max-width: 90vw;
}
.blog_layouts_comments_layout_material3 .comment-form .comment-form-author,
.blog_layouts_comments_layout_material3 .comment-form .comment-form-email,
.blog_layouts_comments_layout_material3 .comment-form .comment-form-url {
  display: flex;
  flex-direction: column;
}
.blog_layouts_comments_layout_material3 .blog_layouts_comment_reply_title {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  margin-top: 0.5em;
  padding: 0 3%;
}
.blog_layouts_comments_layout_material3 .blog_layouts_comment_reply_title small {
  margin-left: auto;
}
.blog_layouts_comments_layout_material3 .blog_layouts_comment_reply_title small a {
  color: rgb(172, 0, 0);
}
.blog_layouts_comments_layout_material3 input:not([type=submit], [type=checkbox]), .blog_layouts_comments_layout_material3 textarea {
  border-radius: 4px 4px 0 0;
  border-bottom: 1px solid var(--blog_layouts_primary_variant_darker);
  padding: 1em 0.5em;
}
.blog_layouts_comments_layout_material3 input:not([type=submit], [type=checkbox]):focus, .blog_layouts_comments_layout_material3 textarea:focus {
  outline: none;
  border-bottom: 1px solid var(--blog_layouts_primary_color);
}
.blog_layouts_comments_layout_material3 input:not([type=submit], [type=checkbox]):hover, .blog_layouts_comments_layout_material3 textarea:hover {
  background-color: #141414;
  box-shadow: 0 0 0px 1000px #141414 inset;
}
.blog_layouts_comments_layout_material3 #submit {
  border-radius: 5em;
  padding: 1em;
  background-color: var(--blog_layouts_primary_variant_darker);
  text-decoration: none;
  color: var(--blog_layouts_font_color);
  border: none;
  cursor: pointer;
}
.blog_layouts_comments_layout_material3 #submit:hover {
  background-color: var(--blog_layouts_primary_color);
}

.blog_layouts_comments_layout_material2 {
  margin: 3em 0 10em 0;
  font-size: 0.8em;
}
.blog_layouts_comments_layout_material2 .blog_layouts_comment_list {
  padding-left: 0;
}
.blog_layouts_comments_layout_material2 a {
  color: rgb(177, 177, 177);
}
.blog_layouts_comments_layout_material2 .comment, .blog_layouts_comments_layout_material2 .children, .blog_layouts_comments_layout_material2 .pingback {
  list-style: none;
  padding: 1% 2%;
}
.blog_layouts_comments_layout_material2 .comment li, .blog_layouts_comments_layout_material2 .children li, .blog_layouts_comments_layout_material2 .pingback li {
  border-radius: 4px;
}
.blog_layouts_comments_layout_material2 .comment li ol, .blog_layouts_comments_layout_material2 .children li ol, .blog_layouts_comments_layout_material2 .pingback li ol {
  padding-left: 0.5em;
}
.blog_layouts_comments_layout_material2 .comment-body {
  background-color: #212121;
  padding: 1em;
}
.blog_layouts_comments_layout_material2 .comment-body:hover {
  filter: brightness(1.1);
}
.blog_layouts_comments_layout_material2 .comment-content {
  padding: 1em;
  margin: 1em 0.5em;
  border-radius: 4px;
  overflow-wrap: break-word;
  max-height: 40em;
  overflow-y: auto;
}
.blog_layouts_comments_layout_material2 .comment-content > p {
  margin: 0;
}
.blog_layouts_comments_layout_material2 .bypostauthor .url {
  background-color: var(--blog_layouts_primary_color);
  border-radius: 8px;
  padding: 0.2em;
  color: black;
}
.blog_layouts_comments_layout_material2 .bypostauthor .url:after {
  content: " \f4ff";
  font-family: "Font Awesome Solid";
}
.blog_layouts_comments_layout_material2 .reply {
  margin: 0 0.5em;
  display: flex;
}
.blog_layouts_comments_layout_material2 .reply a {
  border-radius: 4px;
  font-family: Roboto, sans-serif;
  height: 36px;
  font-size: 14px;
  display: flex;
  padding: 0 0.5em;
  align-items: center;
  text-transform: uppercase;
  background-color: var(--blog_layouts_primary_variant_darker);
  text-decoration: none;
  color: var(--blog_layouts_font_color);
}
.blog_layouts_comments_layout_material2 .reply a:hover {
  background-color: var(--blog_layouts_primary_color);
}
.blog_layouts_comments_layout_material2 .says {
  display: none;
}
.blog_layouts_comments_layout_material2 .vcard {
  display: flex;
  gap: 0.5em;
  align-items: center;
  font-size: 1.3em;
}
.blog_layouts_comments_layout_material2 .vcard .url {
  text-decoration: none;
}
.blog_layouts_comments_layout_material2 .comment-metadata {
  display: flex;
  justify-content: space-between;
  padding: 0.8em 1em 0.3em 1em;
}
.blog_layouts_comments_layout_material2 .comment-form {
  padding: 0 3%;
}
.blog_layouts_comments_layout_material2 .comment-form .comment-form-comment {
  display: flex;
  flex-direction: column;
}
.blog_layouts_comments_layout_material2 .comment-form .comment-form-comment textarea {
  resize: vertical;
  max-width: 90vw;
}
.blog_layouts_comments_layout_material2 .comment-form .comment-form-author,
.blog_layouts_comments_layout_material2 .comment-form .comment-form-email,
.blog_layouts_comments_layout_material2 .comment-form .comment-form-url {
  display: flex;
  flex-direction: column;
}
.blog_layouts_comments_layout_material2 .blog_layouts_comment_reply_title {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  margin-top: 0.5em;
  padding: 0 3%;
}
.blog_layouts_comments_layout_material2 .blog_layouts_comment_reply_title small {
  margin-left: auto;
}
.blog_layouts_comments_layout_material2 .blog_layouts_comment_reply_title small a {
  color: rgb(172, 0, 0);
}
.blog_layouts_comments_layout_material2 input:not([type=submit], [type=checkbox]), .blog_layouts_comments_layout_material2 textarea {
  border-radius: 4px 4px 0 0;
  border-bottom: 1px solid var(--blog_layouts_primary_variant_darker);
  padding: 1em 0.5em;
}
.blog_layouts_comments_layout_material2 input:not([type=submit], [type=checkbox]):focus, .blog_layouts_comments_layout_material2 textarea:focus {
  outline: none;
  border-bottom: 1px solid var(--blog_layouts_primary_color);
}
.blog_layouts_comments_layout_material2 input:not([type=submit], [type=checkbox]):hover, .blog_layouts_comments_layout_material2 textarea:hover {
  background-color: #141414;
  box-shadow: 0 0 0px 1000px #141414 inset;
}
.blog_layouts_comments_layout_material2 #submit {
  border-radius: 4px;
  font-family: Roboto, sans-serif;
  height: 36px;
  font-size: 14px;
  text-transform: uppercase;
  background-color: var(--blog_layouts_primary_variant_darker);
  text-decoration: none;
  color: var(--blog_layouts_font_color);
  border: none;
  cursor: pointer;
}
.blog_layouts_comments_layout_material2 #submit:hover {
  background-color: var(--blog_layouts_primary_color);
}/*# sourceMappingURL=comments.css.map */