@use 'mixins' as *; 

.lime_blog_comments_area {
    margin: 3em 0 10em 0;
    font-size: 0.8em;

    .lime_blog_comment_list {
        padding-left: 0;
    }

    a {
        color: rgb(177, 177, 177);
    }

    .comment, .children, .pingback  {
        list-style: none;
        padding: 1% 2%;

        li {
            border-radius: 4px;
            // padding: 2%;

            ol {
                padding-left: 0.5em;
            }
        }
    }

    .comment-body {
        background-color: black;
        padding: 1em;
        border-radius: 16px;
    }

    .comment-content {
        background-color: var(--lime_blog_comments_background_color);
        padding: 1em;
        margin: 1em 0.5em;
        border-radius: 4px;
        overflow-wrap: break-word;
        max-height: 40em;
        overflow-y: auto;

        > p {
            margin: 0;
        }
    }

    .bypostauthor {
        .url {
            background-color: var(--lime_blog_primary_color);
            border-radius: 8px;
            padding: 0.2em;
            color: black;

            &:after {
                content: ' \f4ff';
                font-family: 'Font Awesome Solid';
            }
        }
    }

    .reply {
        margin: 0 0.5em;
        display: flex;

        a {
            @include button;
        }
    }

    .says {
        display: none;
    }

    .vcard {
        display: flex;
        gap: 0.5em;
        align-items: center;
        font-size: 1.3em;

        img {
            border-radius: 8px;
        }

        .url {
            text-decoration: none;
        }
    }

    .comment-metadata {
        display: flex;
        justify-content: space-between;
        padding: 0.8em 1em 0.3em 1em;
    }

    .comment-form {
        padding: 0 3%;

        .comment-form-comment {
            display: flex;
            flex-direction: column;

            textarea {
                resize: vertical;
                max-width: 90vw;
            }
        }

        .comment-form-author,
        .comment-form-email,
        .comment-form-url {
            display: flex;
            flex-direction: column;
        }
    }

    .lime_blog_comment_reply_title {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5em;
        margin-top: 0.5em;
        padding: 0 3%;

        small {
            margin-left: auto;

            a {
                color: rgb(146, 0, 0);
            }
        }
    }
}

.wp-block-latest-comments__comment {
    background-color: black;
    padding: 0.5em;
    border-radius: 4px;

    .wp-block-latest-comments__comment-excerpt {
        overflow-wrap: anywhere;
        word-wrap: break-all;
    }
}