#clean_space_footer {
    background-color: var(--clean_space_primary_variant_darker);
    padding: 5vw;
    grid-area: footer;
    font-size: clamp(0.6em, 2vw, 1em);
    display: flex;
    justify-content: center;

    ul {
        padding-left: 0.5em;
        display: flex;
        gap: 2em;
        flex-wrap: wrap;

        ul {
            display: block;
        }

        li {
            list-style: none;

            a {
                font-size: 1.1em;
                color: #cef5f5;
                text-decoration: none;
            }

            li {
                margin-top: 0.5em;

                a {
                    font-size: 1.3em;
                    color: whitesmoke;
                    text-decoration: underline;
                }
            }
        }
    }
}