#lime_blog_footer {
    background-color: var(--lime_blog_primary_variant_darker);
    padding: clamp(0em, 5vw, 5em);
    padding-bottom: 0;
    grid-area: footer;
    font-size: clamp(0.8em, 2vw, 1em);
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 1em;

    ul {
        padding-left: 0.5em;
        display: flex;
        gap: 2em;
        flex-wrap: wrap;

        ul {
            display: block;
        }

        li {
            list-style: none;

            a {
                font-size: 1.1em;
                color: #cef5f5;
                text-decoration: none;
            }

            li {
                margin-top: 0.5em;

                a {
                    font-size: 1.3em;
                    color: var(--lime_blog_font_color);
                    text-decoration: underline;
                }
            }
        }
    }

    .lime_blog_footer_info {
        margin-top: 2em;
        margin-bottom: 0.5em;
        a {
            color: var(--lime_blog_primary_color);
        }
    }
}