#lime_blog_header {
    grid-area: header;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 30;

    &.lime_blog_fixed_header {
        position: sticky;
        top: 0;
    }
}