@mixin tag {
    border: 1px solid rgb(95, 95, 95);
    padding: 0.8em;
    border-radius: 4px;
    background-color: #303030;
    cursor: pointer;
    color: whitesmoke;
    text-decoration: none;
    white-space: nowrap;
    font-size: 0.8em;

    a {
        color: whitesmoke;
        text-decoration: none;
        white-space: nowrap;
    }
    
    &:hover {
        background-color: gray;
    }
}

@mixin color_button {
    padding: 0.8em;
    border-radius: 6px;
    border: 1px solid blue;
    background-color: black;
    text-decoration: none;
    color:  blue;
    display: flex;

    &:hover {
        background-color: rgb(41, 41, 41);
    }
}

@mixin pagination_page_number {
    border-radius: 4px;
    padding: 0.8em 1.2em;
    background: black;
    border: solid 1px gray;
    white-space: nowrap;
    user-select: none;
}