.search {
    main, #clean_space_sidebar {
        margin-top: var(--clean_space_margin_to_header);
    }
    
    .clean_space_searchresults {
        display: flex;
        flex-direction: column;
    }

    h1 {
        text-align: center;
    }

    .clean_space_searchresult {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        position: relative;
        gap: 1em;
        padding: 2em 1.5em;

        .clean_space_searchresult_image_a {
            margin: 1em 1em 1em 0;
            img {
                aspect-ratio: 1 / 1;
                border-radius: 4px;
                max-height: 8em;
                object-fit: cover;
            }
        }

        .clean_space_searchresult_content {
            flex: 1;

            a {
                text-decoration: none;
            }
            h2 {
                color: rgb(0, 0, 138);
            }

            p {
                line-height: 1.5em;
            }
        }
    }

    .clean_space_searchresult::after {
        content: ' ';
        position: absolute;
        border-bottom: 1px solid;
        height: 20px;
        width: 90%;
        bottom: 0;
        color: gray;
    }

    .clean_space_pagination {
        margin-top: 1em;
    }
}