@use 'mixins' as *;

.lime_blog_hero {
    background: var(--lime_blog_hero_background);
    grid-area: landingpagesection;
    min-height: 20vh;
    padding-top: var(--lime_blog_margin_to_header);
    display: flex;
    align-items: center;
    justify-content: center;

    header {
        max-width: var(--lime_blog_max_hero_width);
        display: flex;
        flex-wrap: wrap;
        gap: 2vw;
        padding: 2em 5%;

        h1 {
            flex: 1 0 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: clamp(16px, 5vw, 34px);
            min-width: 15em;
        }

        .lime_blog_post_thumbnail {
            display: flex;
            align-items: center;
            justify-content: center;
            flex: 1 0 30%;

            div {
                position: relative;
            }
        }

        img {
            height: auto;
            width: auto;
            max-height: 20vh;
            object-fit: contain;
            animation: UpAndDown 8s linear infinite;
        }

        .lime_blog_post_thumbnail div::before {
            content: " ";
            position: absolute;
            display: inline-block;
            height: 50%;
            width: 50%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            box-shadow: #ffffff 0 -1px 140px, #ffffff 0 -2px 10px, #ffffff 0 -10px 20px, #ffffff 0 -18px 40px, 5px 5px 15px 5px #ffffff00;
        }
    }
}

.lime_blog_post_row_1 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 5px;

    .lime_blog_post_date {
        white-space: nowrap;
        font-style: italic;
        flex: 1 0 auto;
    }

    .lime_blog_post_categories {
        max-height: 15em;
        overflow-y: auto;
        ul {
            padding: 0;
            display: flex;
            flex-wrap: wrap;
            gap: 0.5em;
            margin: 0;
            list-style: none;
        }
    }
}
.single .lime_blog_content_spacer {
    max-width: var(--lime_blog_max_posts_width);
}

.lime_blog_post_tags {
    max-height: 15em;
    overflow-y: auto;
    ul {
        list-style: none;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        gap: 0.5em;
    }
}

.lime_blog_post_footer {
    clear: both;
}

.lime_blog_author_card {
    padding: 2%;
    display: flex;
    flex-wrap: wrap;
    margin: 2em 0 3em 0;
    border-radius: 0.3em;
    background-color: black;

    .lime_blog_author_avatar {
        flex: 1 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;

        a {
            img {
                box-shadow: var(--lime_blog_primary_color) 0 0 30px;
                margin: 1.5em;
                width: auto;
                border: 2px solid var(--lime_blog_primary_color);
                
                &:hover {
                    box-shadow: var(--lime_blog_primary_color) 0 0 50px;                
                }
            }
        }
    }

    .lime_blog_author_details {
        flex: 1 0 70%;

        .lime_blog_author_name_row {
            display: flex;
            justify-content: space-between;
        }
    }
}

.lime_blog_post_pagination {
    display: flex;
    flex-wrap: wrap;
    gap: 0.2em;

    a {
        @include color_button;
        font-size: clamp(0.8em, 2vw, 1em);
    }

    .lime_blog_post_pagination_prev {
        margin-right: auto;
    }

    .lime_blog_post_pagination_next {
        margin-left: auto;
    }
}

.page-links {
    display: flex;
    gap: 0.5em;
    align-items: center;
    justify-content: flex-end;
    max-width: 100%;
    overflow-x: auto;
}

.figcaption {
    font-style: italic;
}

.post-password-form {
    max-width: 30em;
    border: 1px solid;
    border-radius: 4px;
    padding: 1em;
    background-color: var(--lime_blog_primary_variant_much_darker);
    font-size: clamp(16px, 5vw, 25px);
    
    p {
        display: flex;
        gap: 0.5em;
        justify-content: center;
        align-items: center;
        color: rgb(209, 7, 7);
    }
    
    p:nth-child(2) {
        display: flex;
        flex-wrap: wrap;
        
        label {
            gap: 0.5em;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            max-width: 100%;
        }
    }

    input[type=submit] {
        @include color_button;
    }
}

.lime_blog_chips_layout_blocks {
    @include tag;
}

.lime_blog_chips_layout_content_creator {
    a {
        padding: 3px 6px;
        font-size: 13px;
        line-height: 1.5;
        border-radius: 3px;
        color: #424246;
        background-color: var(--lime_blog_primary_color);
        border-color: #ccc;
        display: inline-block;
        margin-bottom: 4px;
        margin-top: 4px;
        font-weight: 700;
        background-image: none;
        border: none;
        white-space: nowrap;
        font-family: "Open Sans", sans-serif;
        text-decoration: none;

        &:hover {
            background-color: var(--lime_blog_primary_variant_darker);
        }
    }
}

.lime_blog_chips_layout_links {
    padding: 0 0.3em
}

.lime_blog_chips_layout_hashtag {
    padding: 0 0.3em;

    a {
        text-decoration: none;

        &::before {
            content: '#';
        }
    }
}

.lime_blog_chips_layout_frames {
    a {
        display: flex;
        border-radius: 4px;
        border: 1px solid grey;
        padding: 0.3em 0.5em;
        color: var(--lime_blog_font_color);
        text-decoration: none;
    }
}

.lime_blog_chips_layout_material2 {
    a {
        display: flex;
        padding: 7px 12px;
        background-color: var(--lime_blog_primary_variant_darker);
        color: var(--lime_blog_font_color);
        text-decoration: none;
        border-radius: 24px;
        font-weight: 400;
        font-family: Roboto,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
        
        &:hover {
            background-color: var(--lime_blog_primary_color);
        }
    }
}

.lime_blog_chips_layout_color_blocks {
    a {
        display: flex;
        padding: 7px 12px;
        background-color: var(--lime_blog_primary_variant_darker);
        color: var(--lime_blog_font_color);
        text-decoration: none;
        border-radius: 8px;
        font-weight: 400;
        font-family: Roboto,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
        
        &:hover {
            background-color: var(--lime_blog_primary_color);
        }
    }
}

.lime_blog_chips_layout_material3 {
    a {
        padding: 0.6em;
        border: 1px solid gray;
        border-radius: 8px;
        color: var(--lime_blog_font_color);
        text-decoration: none;
        display: flex;
        font-size: 0.8em;

        &:hover {
            background-color: var(--lime_blog_primary_variant_darker);
        }
    }
}

.lime_blog_chips_layout_neon {
    a {
        display: flex;
        padding: 0.6em;
        border-radius: 4px;
        box-shadow: inset 0px 0px 15px 0px var(--lime_blog_primary_color);
    }
}

.lime_blog_chips_layout_social {
    a {
        display: flex;
        background-color: rgb(51, 52, 61);
        padding: 0.5em;
        border-radius: 4px;
        border: 1px solid gray;
    }
}

.lime_blog_chips_layout_github {
    a {
        display: flex;
        padding: 0 7px;
        font-size: 12px;
        white-space: nowrap;
        border-radius: 2em;
        line-height: 22px;
        color: var(--lime_blog_primary_variant_much_brighter);
        background-color: var(--lime_blog_primary_variant_much_darker);
        text-decoration: none;

        &:hover {
            background-color: var(--lime_blog_primary_variant_brighter);
            color: var(--lime_blog_font_color);
        }
    }
}

.lime_blog_chips_layout_reddit {
    a {
        display: flex;
        font-family: Noto Sans,Arial,sans-serif;
        font-size: 12px;
        font-weight: 700;
        letter-spacing: unset;
        line-height: 16px;
        text-transform: unset;
        min-height: 24px;
        min-width: 24px;
        padding: 4px 16px;
        text-decoration: none;
        background-color: #d7dadc;
        color: #1a1a1b;
        border-radius: 9999px;
        align-items: center;

        &:hover {
            filter: brightness(0.9);
        }
    }
}

.lime_blog_chips_layout_the_hub {
    a {
        display: flex;
        padding: 8px 18px;
        background-color: #1b1b1b;
        font-size: 14px;
        color: #fff;
        white-space: nowrap;
        text-transform: capitalize;
        font-weight: 400;
        font-family: Arial,Helvetica,sans-serif;
        text-decoration: none;
        border-radius: 8px;

        &:hover {
            background-color: #2f2f2f;
        }
    }
}

.lime_blog_chips_layout_youtube_music {
    a {
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        min-width: 32px;
        font-size: 14px;
        background-color: rgba(255,255,255,.1);
        color: #fff;
        border-radius: 8px;
        border: none;
        height: 36px;
        padding: 0 12px;
        text-decoration: none;

        &:hover {
            background-color: rgba(255,255,255,.2);        }
    }
}