@use 'mixins' as *;

.clean_space_post_headline_section {
    background: linear-gradient(90deg, rgb(26, 25, 46) 0%, rgb(49, 49, 150) 75%, rgb(26, 25, 46) 100%);
    grid-area: landingpagesection;
    min-height: 20vh;
    padding-top: var(--clean_space_margin_to_header);
    display: flex;
    align-items: center;
    justify-content: center;

    header {
        max-width: 80em;
        display: flex;
        flex-wrap: wrap;
        gap: 2vw;
        padding: 3em 5%;

        h1 {
            flex: 1 0 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: clamp(16px, 5vw, 34px);
            min-width: 15em;
        }

        .clean_space_post_thumbnail {
            display: flex;
            align-items: center;
            justify-content: center;
            flex: 1 0 30%;

            div {
                position: relative;
            }
        }

        img {
            height: auto;
            width: auto;
            max-height: 20vh;
            object-fit: contain;
            animation: UpAndDown 8s linear infinite;
        }

        .clean_space_post_thumbnail div::before {
            content: " ";
            position: absolute;
            display: inline-block;
            height: 50%;
            width: 50%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            box-shadow: #768fff 0 -1px 140px, #3639db 0 -2px 10px, #361da7 0 -10px 20px, #200b58 0 -18px 40px, 5px 5px 15px 5px #0000;
        }
    }
}

.clean_space_post_row_1 {
    display: flex;
    justify-content: space-between;
    gap: 5px;

    .clean_space_post_date {
        white-space: nowrap;
    }

    .clean_space_post_categories {
        ul {
            padding: 0;
            display: flex;
            justify-content: flex-end;
            flex-wrap: wrap;
            gap: 0.5em;
            margin: 0;
            list-style: none;
        }
    }
}

.clean_space_content_container {
    line-height: 1.5em;
    // font-size: 1.3em;
}

.clean_space_post_tags {
    ul {
        list-style: none;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        gap: 0.5em;
    }
}

.clean_space_author_card {
    padding: 2%;
    display: flex;
    flex-wrap: wrap;
    margin: 3em 0;
    border-radius: 0.3em;
    background-color: black;

    .clean_space_author_avatar {
        flex: 1 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: auto;
            margin: 1.5em;
            border: 2px solid blue;
            box-shadow: #768fff 0 0 30px;
        }
    }

    .clean_space_author_details {
        flex: 1 0 70%;

        .clean_space_author_name_row {
            display: flex;
            justify-content: space-between;
        }
    }
}

.clean_space_post_pagination {
    display: flex;
    justify-content: space-between;

    a {
        @include navigation_link
    }
}

.page-links {
    display: flex;
    gap: 0.5em;
    align-items: center;
    justify-content: flex-end;
    max-width: 100%;
    overflow-x: auto;
}

.figcaption {
    font-style: italic;
}