.clean_space_post_headline_section {
  background: var(--clean_space_gradient);
  grid-area: landingpagesection;
  min-height: 20vh;
  padding-top: var(--clean_space_margin_to_header);
  display: flex;
  align-items: center;
  justify-content: center;
}
.clean_space_post_headline_section header {
  max-width: 80em;
  display: flex;
  flex-wrap: wrap;
  gap: 2vw;
  padding: 2em 5%;
}
.clean_space_post_headline_section header h1 {
  flex: 1 0 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(16px, 5vw, 34px);
  min-width: 15em;
}
.clean_space_post_headline_section header .clean_space_post_thumbnail {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 0 30%;
}
.clean_space_post_headline_section header .clean_space_post_thumbnail div {
  position: relative;
}
.clean_space_post_headline_section header img {
  height: auto;
  width: auto;
  max-height: 20vh;
  -o-object-fit: contain;
     object-fit: contain;
  animation: UpAndDown 8s linear infinite;
}
.clean_space_post_headline_section header .clean_space_post_thumbnail div::before {
  content: " ";
  position: absolute;
  display: inline-block;
  height: 50%;
  width: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: #ffffff 0 -1px 140px, #ffffff 0 -2px 10px, #ffffff 0 -10px 20px, #ffffff 0 -18px 40px, 5px 5px 15px 5px rgba(255, 255, 255, 0);
}

.clean_space_post_row_1 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 5px;
}
.clean_space_post_row_1 .clean_space_post_date {
  white-space: nowrap;
  font-style: italic;
  flex: 1 0 auto;
}
.clean_space_post_row_1 .clean_space_post_categories {
  max-height: 15em;
  overflow-y: auto;
}
.clean_space_post_row_1 .clean_space_post_categories ul {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  margin: 0;
  list-style: none;
}

.clean_space_article {
  width: 100%;
}

.clean_space_post_tags {
  max-height: 15em;
  overflow-y: auto;
}
.clean_space_post_tags ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
}

.clean_space_post_footer {
  clear: both;
}

.clean_space_author_card {
  padding: 2%;
  display: flex;
  flex-wrap: wrap;
  margin: 3em 0;
  border-radius: 0.3em;
  background-color: black;
}
.clean_space_author_card .clean_space_author_avatar {
  flex: 1 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.clean_space_author_card .clean_space_author_avatar a img {
  box-shadow: var(--clean_space_primary_color) 0 0 30px;
  margin: 1.5em;
  width: auto;
  border: 2px solid var(--clean_space_primary_color);
}
.clean_space_author_card .clean_space_author_avatar a img:hover {
  box-shadow: var(--clean_space_primary_color) 0 0 50px;
}
.clean_space_author_card .clean_space_author_details {
  flex: 1 0 70%;
}
.clean_space_author_card .clean_space_author_details .clean_space_author_name_row {
  display: flex;
  justify-content: space-between;
}

.clean_space_post_pagination {
  display: flex;
  flex-wrap: wrap;
  gap: 0.2em;
}
.clean_space_post_pagination a {
  padding: 0.8em;
  border-radius: 6px;
  border: 1px solid var(--clean_space_primary_color);
  background-color: black;
  text-decoration: none;
  color: var(--clean_space_primary_color);
  display: flex;
  cursor: pointer;
}
.clean_space_post_pagination a:hover {
  background-color: rgb(41, 41, 41);
}
.clean_space_post_pagination .clean_space_post_pagination_prev {
  margin-right: auto;
}
.clean_space_post_pagination .clean_space_post_pagination_next {
  margin-left: auto;
}

.page-links {
  display: flex;
  gap: 0.5em;
  align-items: center;
  justify-content: flex-end;
  max-width: 100%;
  overflow-x: auto;
}

.figcaption {
  font-style: italic;
}

.post-password-form {
  max-width: 30em;
  border: 1px solid;
  border-radius: 4px;
  padding: 1em;
  background-color: #19181b;
  font-size: clamp(16px, 5vw, 25px);
}
.post-password-form p {
  display: flex;
  gap: 0.5em;
  justify-content: center;
  align-items: center;
  color: rgb(209, 7, 7);
}
.post-password-form p:nth-child(2) {
  display: flex;
  flex-wrap: wrap;
}
.post-password-form p:nth-child(2) label {
  gap: 0.5em;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 100%;
}
.post-password-form input[type=submit] {
  padding: 0.8em;
  border-radius: 6px;
  border: 1px solid var(--clean_space_primary_color);
  background-color: black;
  text-decoration: none;
  color: var(--clean_space_primary_color);
  display: flex;
  cursor: pointer;
}
.post-password-form input[type=submit]:hover {
  background-color: rgb(41, 41, 41);
}/*# sourceMappingURL=single.css.map */