@use 'mixins' as *;

.clean_space_hero {
    background: var(--clean_space_hero_background);
    grid-area: landingpagesection;
    min-height: 20vh;
    padding-top: var(--clean_space_margin_to_header);
    display: flex;
    align-items: center;
    justify-content: center;

    header {
        max-width: var(--clean_space_max_hero_width);
        display: flex;
        flex-wrap: wrap;
        gap: 2vw;
        padding: 2em 5%;

        h1 {
            flex: 1 0 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: clamp(16px, 5vw, 34px);
            min-width: 15em;
        }

        .clean_space_post_thumbnail {
            display: flex;
            align-items: center;
            justify-content: center;
            flex: 1 0 30%;

            div {
                position: relative;
            }
        }

        img {
            height: auto;
            width: auto;
            max-height: 20vh;
            object-fit: contain;
            animation: UpAndDown 8s linear infinite;
        }

        .clean_space_post_thumbnail div::before {
            content: " ";
            position: absolute;
            display: inline-block;
            height: 50%;
            width: 50%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            box-shadow: #ffffff 0 -1px 140px, #ffffff 0 -2px 10px, #ffffff 0 -10px 20px, #ffffff 0 -18px 40px, 5px 5px 15px 5px #ffffff00;
        }
    }
}

.clean_space_post_row_1 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 5px;

    .clean_space_post_date {
        white-space: nowrap;
        font-style: italic;
        flex: 1 0 auto;
    }

    .clean_space_post_categories {
        max-height: 15em;
        overflow-y: auto;
        ul {
            padding: 0;
            display: flex;
            flex-wrap: wrap;
            gap: 0.5em;
            margin: 0;
            list-style: none;
        }
    }
}
.single .clean_space_content_spacer {
    max-width: var(--clean_space_max_posts_width);
}

.clean_space_article {
    width: 100%;

    >article {
        background-color: var(--clean_space_background_color_posts);
    }
}

.clean_space_post_tags {
    max-height: 15em;
    overflow-y: auto;
    ul {
        list-style: none;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        gap: 0.5em;
    }
}

.clean_space_post_footer {
    clear: both;
}

.clean_space_author_card {
    padding: 2%;
    display: flex;
    flex-wrap: wrap;
    margin: 3em 0;
    border-radius: 0.3em;
    background-color: black;

    .clean_space_author_avatar {
        flex: 1 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;

        a {
            img {
                box-shadow: var(--clean_space_primary_color) 0 0 30px;
                margin: 1.5em;
                width: auto;
                border: 2px solid var(--clean_space_primary_color);
                
                &:hover {
                    box-shadow: var(--clean_space_primary_color) 0 0 50px;                
                }
            }
        }
    }

    .clean_space_author_details {
        flex: 1 0 70%;

        .clean_space_author_name_row {
            display: flex;
            justify-content: space-between;
        }
    }
}

.clean_space_post_pagination {
    display: flex;
    flex-wrap: wrap;
    gap: 0.2em;

    a {
        @include color_button;
    }

    .clean_space_post_pagination_prev {
        margin-right: auto;
    }

    .clean_space_post_pagination_next {
        margin-left: auto;
    }
}

.page-links {
    display: flex;
    gap: 0.5em;
    align-items: center;
    justify-content: flex-end;
    max-width: 100%;
    overflow-x: auto;
}

.figcaption {
    font-style: italic;
}

.post-password-form {
    max-width: 30em;
    border: 1px solid;
    border-radius: 4px;
    padding: 1em;
    background-color: #19181b;
    font-size: clamp(16px, 5vw, 25px);
    
    p {
        display: flex;
        gap: 0.5em;
        justify-content: center;
        align-items: center;
        color: rgb(209, 7, 7);
    }
    
    p:nth-child(2) {
        display: flex;
        flex-wrap: wrap;
        
        label {
            gap: 0.5em;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            max-width: 100%;
        }
    }

    input[type=submit] {
        @include color_button;
    }
}