.widget {
    margin-bottom: 1em;
    padding: 1em;

    a {
        color: whitesmoke;
    }

    ul {
        padding-left: 2em;

        li {
            margin: 0.2em;
        }
    }

    
    p {
        overflow-wrap: anywhere;
    }
}

.wp-block-latest-posts__list,
.wp-block-rss,
.wp-block-social-links,
.wp-block-latest-comments {
    padding: 0;
}

.wp-block-latest-posts__list {
    li {
        background-color: black;
        padding: 1em;
    }
}

.wp-block-latest-comments {
    .wp-block-latest-comments__comment-excerpt p {
        max-height: 300px;
        overflow-y: auto;
    }
}