@use 'mixins' as *;

.wp-block-post-author {
    background-color: black;
}

// tags and categories
.wp-block-post-terms {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;

    .wp-block-post-terms__separator {
        display: none;
    }

    a {
        @include tag;
    }
}

.wp-block-post-navigation-link {
    @include navigation_link;
}

.wp-block-read-more {
    @include color_button;
}

.wp-block-navigation__responsive-container-content {
    li {
        border: 1px solid rgb(85, 85, 85);
        border-radius: 2px;

        &>a {
            padding: 0.5em;
            background-color: black;
        }

        ul a {
            background-color: unset;
        }
    }
}

// mobile page list
.wp-block-navigation:not(.has-background) .wp-block-navigation__responsive-container.is-menu-open {
    background-color: black;

    a {
        padding: 1em;
    }
}

.wp-block-query-pagination {
    margin: 0.5em 0;

    .wp-block-query-pagination-numbers {
        display: flex;
        gap: 0.5em;
    }
}

// table
.wp-block-table {
    .wp-block-table.is-style-stripes {
        border-bottom: none;
    }

    // table with stripes
    &.is-style-stripes {
        border-bottom: none;
    
        tbody tr:nth-child(odd) {
            background-color: rgb(43, 45, 48);
        }
    }
}

.wp-block-button {
    a {
        transition: all 400ms;

        &:hover {
            background-color: rgba(0, 0, 0, 0.185);
        }
    }
}

.wp-block-quote, blockquote {
    border-left: 6px solid blue;
    padding-left: 0.5em;
    display: flex;
    flex-direction: column;
    margin-left: 1em;
}

.wp-block-separator {
    width: 70%;

    &.is-style-wide {
        width: 100%;
    }
}

.wp-block-verse {
    padding: 5%;
    font-style: italic;
}

.wp-block-latest-posts__list,
.wp-block-rss,
.wp-block-social-links,
.wp-block-latest-comments {
    padding: 0;
}

.wp-block-latest-comments {
    .avatar {
        margin: 0.2em;
    }
    .wp-block-latest-comments__comment-meta {
        line-height: 1.2em;
        background-color: rgb(85, 86, 90);
        border-radius: 4px;
        transition: background-color 400ms;

        &:hover {
            background-color: rgb(144, 151, 255);
        }
    }

    .wp-block-latest-comments__comment-excerpt p {
        max-height: 300px;
        overflow-y: auto;
        margin: 1em 0;
        padding: 0 0.2em;
    }

    .wp-block-latest-comments__comment-link {
        color: rgb(8, 8, 136);
        font-weight: bold;
    }
}

.has-avatars .wp-block-latest-comments__comment .wp-block-latest-comments__comment-excerpt, .has-avatars .wp-block-latest-comments__comment .wp-block-latest-comments__comment-meta {
    margin-left: 0;
    min-height: 50px;
}

.wp-block-social-links{
    padding: 0;
}

.wp-block-loginout {
    display: flex;
    justify-content: center;
    margin: 0.5em 0;

    a {
        @include color_button;
    }
}

.wp-block-calendar {
    background-color: black;
    border-radius: 8px;

    table {
        display: table;
    }
    
    table:where(:not(.has-text-color)){
        color: whitesmoke;
    }

    th, td {
        border: none;
        
        a {
            padding: 0.2em;
            background-color: rgb(32, 32, 121);
            border-radius: 4px;
            color: whitesmoke;
        }
    }

    thead th{
        background-color: rgb(24, 24, 129);
    }

    &:hover tr{
        background-color: rgb(41, 41, 41);
    }
}

.wp-block-archives-list, .wp-block-categories-list {
    padding-left: 1em;

    li {
        position: relative;
        list-style: none;
        padding-left: 2em;
        margin: 0.2em;
        
        &::before {
            content: '\f07b ';
            font-family: 'Font Awesome Solid';
            position: absolute;
            left: 0;
            transition: all 400ms;
        }

        &:hover {
            &::before {
                color: blue;
            }
        }

        a {
            color: #b7b7b7;
    
            &:hover {
                color: rgb(17, 17, 165);
                transition: all 400ms;
            }
        }
    }
    
}

.wp-block-archives-dropdown, .wp-block-categories-dropdown {
    display: flex;
    flex-direction: column;
    select {
        margin: 0.2em;
    }
}

.wp-block-page-list {
    padding-left: 2em;
}

.wp-block-latest-posts__list {
    img {
        border-radius: 2px;
    }

    li {
        padding: 0.5em;
        display: flex;
        flex-direction: column;
        background-color: black;
        border-radius: 4px;
        margin: 1em 0;
    }

    .wp-block-latest-posts__post-title {
        background-color: rgb(85, 86, 90);
        border-radius: 2px;
        transition: background-color 400ms;
        padding: 0.2em;
        margin: 0.2em 0;
        color: rgb(238, 238, 238);

        &:hover {
            background-color: rgb(144, 151, 255);
        }
    }

    .wp-block-latest-posts__post-excerpt {
        display: flex;
        flex-direction: column;

        a {
            padding: 0.8em;
            border-radius: 6px;
            border: 1px solid blue;
            background-color: black;
            text-decoration: none;
            margin-top: 0.5em;
    
            &:hover {
                background-color: rgb(41, 41, 41);
            }
        }
    }
}

.wp-block-search__button {
    padding: 0 0.8em;
    border-radius: 6px;
    border: 1px solid blue;
    background-color: black;
    min-height: 2.5em;

    &:hover {
        background-color: rgb(41, 41, 41);
    }
}

.wp-block-search__inside-wrapper {
    border: none;
}

.wp-block-search__input {
    border-radius: 2em;
    border: 1px solid rgb(56, 56, 56);
    padding: 1em;
    background-color: rgb(22, 22, 24);
    color: whitesmoke;
}

.wp-block-search {
    display: flex;
    flex-direction: column;
    align-items: center;

    .wp-block-search__label {
        text-align: center;
    }
}