.wp-block-post-author {
  background-color: black;
}

.wp-block-post-terms {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
}
.wp-block-post-terms .wp-block-post-terms__separator {
  display: none;
}
.wp-block-post-terms a {
  border: 1px solid rgb(95, 95, 95);
  padding: 0.8em;
  border-radius: 4px;
  background-color: #303030;
  cursor: pointer;
  color: whitesmoke;
  text-decoration: none;
  white-space: nowrap;
  font-size: 0.8em;
}
.wp-block-post-terms a a {
  color: whitesmoke;
  text-decoration: none;
  white-space: nowrap;
}
.wp-block-post-terms a:hover {
  background-color: gray;
}

.wp-block-tag-cloud {
  display: flex;
  flex-wrap: wrap;
  gap: 0.3em;
}
.wp-block-tag-cloud a {
  border: 1px solid rgb(95, 95, 95);
  padding: 0.8em;
  border-radius: 4px;
  background-color: #303030;
  cursor: pointer;
  color: whitesmoke;
  text-decoration: none;
  white-space: nowrap;
  font-size: 0.8em;
  font-size: 0.8em !important;
  margin-right: 0;
  background-color: #28282d;
}
.wp-block-tag-cloud a a {
  color: whitesmoke;
  text-decoration: none;
  white-space: nowrap;
}
.wp-block-tag-cloud a:hover {
  background-color: gray;
}

.wp-block-post-navigation-link {
  padding: 0.8em;
  border-radius: 6px;
  border: 1px solid blue;
  background-color: black;
  text-decoration: none;
  color: blue;
  display: flex;
}
.wp-block-post-navigation-link:hover {
  background-color: rgb(41, 41, 41);
}

.wp-block-read-more {
  padding: 0.8em;
  border-radius: 6px;
  border: 1px solid blue;
  background-color: black;
  text-decoration: none;
  color: blue;
  display: flex;
}
.wp-block-read-more:hover {
  background-color: rgb(41, 41, 41);
}

.wp-block-navigation__responsive-container-content li {
  border: 1px solid rgb(85, 85, 85);
  border-radius: 2px;
}
.wp-block-navigation__responsive-container-content li > a {
  padding: 0.5em;
  background-color: black;
}
.wp-block-navigation__responsive-container-content li ul a {
  background-color: unset;
}

.wp-block-navigation:not(.has-background) .wp-block-navigation__responsive-container.is-menu-open {
  background-color: black;
}
.wp-block-navigation:not(.has-background) .wp-block-navigation__responsive-container.is-menu-open a {
  padding: 1em;
}

.wp-block-query-pagination {
  margin: 0.5em 0;
}
.wp-block-query-pagination .wp-block-query-pagination-numbers {
  display: flex;
  gap: 0.5em;
}

.wp-block-table table {
  border-collapse: collapse;
  margin-top: 25px;
  font-size: clamp(0.8em, 2vw, 1em);
  display: block;
  overflow-x: auto;
  color: rgb(151, 151, 151);
}
.wp-block-table table thead tr {
  background-color: transparent;
  text-align: left;
}
.wp-block-table th,
.wp-block-table td {
  padding: 1em 1em;
  color: whitesmoke;
  border-color: #555;
  border: 1px solid;
}
.wp-block-table thead {
  border-bottom: 2px solid;
}
.wp-block-table tfoot {
  border-top: 2px solid;
}
.wp-block-table th {
  background-color: black;
}
.wp-block-table tr {
  background-color: #1d2027;
  transition: all 400ms;
}
.wp-block-table.is-style-stripes {
  border-bottom: none;
}
.wp-block-table.is-style-stripes th {
  background-color: transparent;
}
.wp-block-table.is-style-stripes tbody tr:nth-child(odd) {
  background-color: rgba(43, 45, 48, 0);
}

.wp-block-button a {
  transition: all 400ms;
}
.wp-block-button a:hover {
  background-color: rgba(0, 0, 0, 0.185);
}

.wp-block-quote,
blockquote {
  border-left: 6px solid blue;
  padding-left: 0.5em;
  display: flex;
  flex-direction: column;
  margin-left: 1em;
  background-color: #1d2027;
}

.wp-block-separator {
  width: 70%;
}
.wp-block-separator.is-style-wide {
  width: 100%;
}

.wp-block-verse {
  padding: 5%;
  font-style: italic;
}

.wp-block-latest-posts__list,
.wp-block-rss,
.wp-block-social-links,
.wp-block-latest-comments {
  padding: 0;
}

.wp-block-latest-comments .avatar {
  margin: 0.2em;
}
.wp-block-latest-comments .wp-block-latest-comments__comment-meta {
  line-height: 1.2em;
  border-radius: 4px;
  transition: background-color 400ms;
}
.wp-block-latest-comments .wp-block-latest-comments__comment-meta a:hover {
  color: rgb(144, 151, 255);
}
.wp-block-latest-comments .wp-block-latest-comments__comment-excerpt p {
  max-height: 300px;
  overflow-y: auto;
  margin: 0.3em 0;
  padding: 1em 0.2em;
  background-color: #1d2027;
}
.wp-block-latest-comments .wp-block-latest-comments__comment-link {
  color: whitesmoke;
}

.has-avatars .wp-block-latest-comments__comment .wp-block-latest-comments__comment-excerpt,
.has-avatars .wp-block-latest-comments__comment .wp-block-latest-comments__comment-meta {
  margin-left: 0;
  min-height: 50px;
}

.wp-block-social-links {
  padding: 0;
}

.wp-block-loginout {
  display: flex;
  justify-content: center;
  margin: 0.5em 0;
}
.wp-block-loginout a {
  padding: 0.8em;
  border-radius: 6px;
  border: 1px solid blue;
  background-color: black;
  text-decoration: none;
  color: blue;
  display: flex;
}
.wp-block-loginout a:hover {
  background-color: rgb(41, 41, 41);
}
.wp-block-loginout .login-username, .wp-block-loginout .login-password {
  display: flex;
  flex-direction: column;
}

.wp-block-calendar {
  background-color: black;
  border-radius: 8px;
}
.wp-block-calendar table {
  display: table;
}
.wp-block-calendar table:where(:not(.has-text-color)) {
  color: whitesmoke;
}
.wp-block-calendar th,
.wp-block-calendar td {
  border: none;
}
.wp-block-calendar th a,
.wp-block-calendar td a {
  padding: 0.2em;
  background-color: rgb(32, 32, 121);
  border-radius: 4px;
  color: whitesmoke;
}
.wp-block-calendar thead th {
  background-color: rgb(24, 24, 129);
}
.wp-block-calendar tr {
  background-color: rgb(41, 41, 41);
}
.wp-block-calendar:hover tr {
  background-color: rgb(66, 66, 66);
}

.wp-block-archives-list,
.wp-block-categories-list {
  padding-left: 1em;
}
.wp-block-archives-list li,
.wp-block-categories-list li {
  position: relative;
  list-style: none;
  padding-left: 2em;
  margin: 0.2em;
}
.wp-block-archives-list li a::before,
.wp-block-categories-list li a::before {
  content: "\f07b";
  font-family: "Font Awesome Solid";
  position: absolute;
  left: 0;
}
.wp-block-archives-list li a,
.wp-block-categories-list li a {
  color: #b7b7b7;
}
.wp-block-archives-list li a:hover,
.wp-block-categories-list li a:hover {
  color: rgb(144, 151, 255);
}

.wp-block-archives-dropdown,
.wp-block-categories-dropdown {
  display: flex;
  flex-direction: column;
}
.wp-block-archives-dropdown select,
.wp-block-categories-dropdown select {
  margin: 0.2em;
}

.wp-block-page-list {
  padding-left: 2em;
}
.wp-block-page-list a {
  color: #b7b7b7;
}
.wp-block-page-list a:hover {
  color: rgb(144, 151, 255);
}

.wp-block-latest-posts__list img {
  border-radius: 2px;
}
.wp-block-latest-posts__list li {
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  background-color: black;
  border-radius: 4px;
  margin: 1em 0;
}
.wp-block-latest-posts__list .wp-block-latest-posts__post-title {
  border-radius: 2px;
  transition: background-color 400ms;
  padding: 0.2em;
  margin: 0.2em 0;
  color: rgb(238, 238, 238);
}
.wp-block-latest-posts__list .wp-block-latest-posts__post-title:hover {
  color: rgb(144, 151, 255);
}
.wp-block-latest-posts__list .wp-block-latest-posts__post-excerpt {
  display: flex;
  flex-direction: column;
  background-color: #1d2027;
  padding: 0.5em;
  gap: 0.5em;
}
.wp-block-latest-posts__list .wp-block-latest-posts__post-excerpt a {
  padding: 0.8em;
  border-radius: 6px;
  border: 1px solid blue;
  background-color: black;
  text-decoration: none;
  color: blue;
  display: flex;
}
.wp-block-latest-posts__list .wp-block-latest-posts__post-excerpt a:hover {
  background-color: rgb(41, 41, 41);
}

.wp-block-search__button {
  padding: 0 0.8em;
  border-radius: 6px;
  border: 1px solid blue;
  background-color: black;
  min-height: 2.5em;
}
.wp-block-search__button:hover {
  background-color: rgb(41, 41, 41);
}

.wp-block-search__inside-wrapper {
  border: none;
}

.wp-block-search__input {
  border-radius: 8px;
  border: 1px solid rgb(56, 56, 56);
  padding: 1em;
  background-color: rgb(22, 22, 24);
  color: whitesmoke;
}

.wp-block-search {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wp-block-search .wp-block-search__label {
  text-align: center;
}

.wp-block-post-template li {
  max-width: 65em;
  border: 2px solid rgb(0, 0, 117);
  background-color: black;
  border-radius: 12px;
  margin-bottom: 3em;
  padding: 1em;
  box-shadow: 0 0 20px 0px rgba(87, 87, 255, 0.2941176471);
}
.wp-block-post-template li:hover {
  transition: all 0.2s;
  box-shadow: 0 0 40px 5px #5857ff;
  outline: 2px solid rgb(0, 0, 117);
}

.wp-block-rss {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.wp-block-rss a {
  color: #b7b7b7;
}
.wp-block-rss a:hover {
  color: rgb(144, 151, 255);
}
.wp-block-rss .wp-block-rss__item-excerpt {
  background-color: #1d2027;
  padding: 0.5em;
}/*# sourceMappingURL=wp-block.css.map */