.lime_blog_clean_header {
  background: var(--lime_blog_gradient);
}
.lime_blog_clean_header #lime_blog_mobile_menu_toggle_button {
  border: none;
  display: none;
  margin: 0.5em;
  font-size: 1.5em;
  background-color: var(--lime_blog_primary_variant_much_darker);
  padding: 0.5em 0.8em;
  box-shadow: none;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid;
}
@media only screen and (max-width: 600px) {
  .lime_blog_clean_header #lime_blog_mobile_menu_toggle_button {
    display: block;
  }
}
.lime_blog_clean_header .lime_blog_header_menu {
  display: flex;
  justify-content: center;
  background-color: var(--lime_blog_primary_variant_much_darker);
  white-space: nowrap;
  width: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  list-style: none;
  overflow-x: clip;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  font-size: var(--lime_blog_header_menu_font_size);
}
.lime_blog_clean_header .lime_blog_header_menu li {
  position: relative;
  display: flex;
  transition: background-color 400ms;
  border-radius: 8px;
}
.lime_blog_clean_header .lime_blog_header_menu li .lime_blog_menuitem_container {
  display: flex;
  align-items: center;
}
.lime_blog_clean_header .lime_blog_header_menu li .lime_blog_menuitem_container a {
  padding: 0.8em 0.2em 0.8em 0.5em;
  margin: 0.2em;
  text-decoration: none;
  color: rgba(238, 238, 238, 0.856);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8em;
}
.lime_blog_clean_header .lime_blog_header_menu li ul {
  display: none;
  position: absolute;
  flex-direction: column;
  overflow: visible;
  background-color: var(--lime_blog_primary_variant_much_darker);
  top: 100%;
  padding: 0;
  z-index: 5;
}
.lime_blog_clean_header .lime_blog_header_menu li ul li {
  transition: all 100ms;
}
.lime_blog_clean_header .lime_blog_header_menu li ul ul {
  left: 100%;
  top: 0;
}
@media only screen and (min-width: 600px) {
  .lime_blog_clean_header .lime_blog_header_menu li > ul .lime_blog_submenu_toggle {
    transform: rotate(-90deg);
  }
  .lime_blog_clean_header .lime_blog_header_menu li:hover, .lime_blog_clean_header .lime_blog_header_menu li:focus-within {
    background-color: var(--lime_blog_primary_variant_darker);
  }
  .lime_blog_clean_header .lime_blog_header_menu li:hover > ul, .lime_blog_clean_header .lime_blog_header_menu li:focus-within > ul {
    display: flex;
  }
}
.lime_blog_clean_header .lime_blog_header_menu ::-webkit-scrollbar {
  display: none;
}
.lime_blog_clean_header .lime_blog_header_mobile_content,
.lime_blog_clean_header .lime_blog_header_content {
  max-height: 3.5em;
  padding: 1em;
  max-width: 50em;
  display: flex;
  justify-content: center;
  gap: 0.5em;
}
.lime_blog_clean_header .lime_blog_header_mobile_content .lime_blog_header_logo,
.lime_blog_clean_header .lime_blog_header_content .lime_blog_header_logo {
  display: flex;
  width: 4em;
}
.lime_blog_clean_header .lime_blog_header_mobile_content .lime_blog_header_logo img,
.lime_blog_clean_header .lime_blog_header_content .lime_blog_header_logo img {
  height: 100%;
}
.lime_blog_clean_header .lime_blog_header_mobile_content .search-form,
.lime_blog_clean_header .lime_blog_header_content .search-form {
  display: flex;
  gap: 0.5em;
}
.lime_blog_clean_header .lime_blog_header_mobile_content .search-form label,
.lime_blog_clean_header .lime_blog_header_content .search-form label {
  display: flex;
}
.lime_blog_clean_header .lime_blog_header_mobile_content .search-field,
.lime_blog_clean_header .lime_blog_header_content .search-field {
  border-radius: 2em;
  border: 1px solid rgb(56, 56, 56);
  padding: 1em;
  width: 30vw;
  max-width: 30em;
  min-width: 20em;
  background-color: rgb(22, 22, 24);
  color: var(--lime_blog_font_color);
}
@media only screen and (max-width: 800px) {
  .lime_blog_clean_header .lime_blog_header_mobile_content .search-field,
  .lime_blog_clean_header .lime_blog_header_content .search-field {
    min-width: 40vw;
  }
}
.lime_blog_clean_header .lime_blog_header_mobile_content .search-submit,
.lime_blog_clean_header .lime_blog_header_content .search-submit {
  border-radius: 2em;
  border: none;
  padding: 0 2em;
  color: var(--lime_blog_font_color);
  background-color: var(--lime_blog_primary_variant_darker);
  cursor: pointer;
}
.lime_blog_clean_header .lime_blog_header_mobile_content .search-submit:hover,
.lime_blog_clean_header .lime_blog_header_content .search-submit:hover {
  background-color: var(--lime_blog_primary_variant_much_darker);
}
.lime_blog_clean_header .lime_blog_header_mobile_content {
  display: none;
}
@media only screen and (max-width: 600px) {
  .lime_blog_clean_header .lime_blog_header_menu {
    max-height: 0;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
  }
  .lime_blog_clean_header .lime_blog_header_content {
    display: none;
  }
  .lime_blog_clean_header .lime_blog_header_mobile_content {
    display: flex;
  }
  .lime_blog_clean_header.lime_blog_header_menu_open .lime_blog_header_menu {
    transition: max-height 300ms;
    visibility: visible;
    opacity: 1;
    flex-direction: column;
    align-items: center;
    font-size: 1.5em;
    background-color: transparent;
    max-height: 1000vh;
    flex-wrap: nowrap;
  }
  .lime_blog_clean_header.lime_blog_header_menu_open .lime_blog_header_menu li {
    flex-direction: column;
    width: 70%;
  }
  .lime_blog_clean_header.lime_blog_header_menu_open .lime_blog_header_menu li .lime_blog_menuitem_container a {
    white-space: normal;
    flex: 1;
  }
  .lime_blog_clean_header.lime_blog_header_menu_open .lime_blog_header_menu li .lime_blog_submenu_toggle {
    border-radius: 4px;
    border: 1px solid;
    padding: 0.3em 0.5em;
  }
  .lime_blog_clean_header.lime_blog_header_menu_open .lime_blog_header_menu li ul {
    position: static;
    width: 100%;
    background: unset;
  }
  .lime_blog_clean_header.lime_blog_header_menu_open .lime_blog_header_menu li ul li {
    width: 90%;
    padding-left: 10%;
  }
  .lime_blog_clean_header.lime_blog_header_menu_open .lime_blog_header_menu .lime_blog_submenu_open > .lime_blog_menuitem_container a {
    font-weight: bold;
  }
  .lime_blog_clean_header.lime_blog_header_menu_open .lime_blog_header_menu .lime_blog_submenu_open > .lime_blog_menuitem_container .lime_blog_submenu_toggle {
    transform: rotate(180deg);
    background-color: var(--lime_blog_primary_variant_much_darker);
  }
  .lime_blog_clean_header.lime_blog_header_menu_open .lime_blog_header_menu .lime_blog_submenu_open > .sub-menu {
    display: flex;
  }
}/*# sourceMappingURL=clean-header.css.map */