.lime_blog_content_creator_posts_list {
  padding: 0 0.5em;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 3em;
  margin-bottom: 2em;
}
.lime_blog_content_creator_posts_list li {
  list-style: none;
}
@media only screen and (min-width: 800px) {
  .lime_blog_content_creator_posts_list {
    padding: 0 2vw;
  }
}
@media only screen and (max-width: 1250px) {
  .lime_blog_content_creator_posts_list {
    justify-content: center;
  }
}

.lime_blog_content_creator_post_list_item {
  max-width: 30em;
  background-color: rgba(255, 255, 255, 0.1);
  overflow: hidden;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
}
.lime_blog_content_creator_post_list_item .lime_blog_content_creator_post_list_item_headline_div {
  display: flex;
  padding: 1em 1em;
}
.lime_blog_content_creator_post_list_item .lime_blog_content_creator_post_list_item_headline_div .lime_blog_content_creator_post_list_item_author_image {
  display: flex;
  position: relative;
  flex: 0 0 auto;
  height: 48px;
  width: 48px;
  margin: 0.3em;
}
.lime_blog_content_creator_post_list_item .lime_blog_content_creator_post_list_item_headline_div .lime_blog_content_creator_post_list_item_author_image img {
  height: 48px;
  width: 48px;
  border-radius: 5em;
  z-index: 2;
}
.lime_blog_content_creator_post_list_item .lime_blog_content_creator_post_list_item_headline_div .lime_blog_content_creator_post_list_item_author_image::before {
  content: "";
  position: absolute;
  left: -2px;
  right: -2px;
  top: -2px;
  bottom: -2px;
  background: linear-gradient(0deg, var(--lime_blog_primary_color), var(--lime_blog_primary_variant_much_brighter)) 100% no-repeat;
  border-radius: 1000px;
}
.lime_blog_content_creator_post_list_item .lime_blog_content_creator_post_list_item_headline_div .lime_blog_content_creator_post_list_item_headline_div_right {
  display: flex;
  flex: 1 1 auto;
  justify-content: space-between;
  gap: 0.5em;
}
.lime_blog_content_creator_post_list_item .lime_blog_content_creator_post_list_item_headline_div .lime_blog_content_creator_post_list_item_headline_div_right .lime_blog_content_creator_post_list_item_headline_and_name {
  flex: 1 1 auto;
  margin-left: 0.5em;
}
.lime_blog_content_creator_post_list_item .lime_blog_content_creator_post_list_item_headline_div .lime_blog_content_creator_post_list_item_headline_div_right .lime_blog_content_creator_post_list_item_headline_and_name h2 {
  font-size: 0.8em;
  font-weight: 100;
  filter: brightness(0.8);
}
.lime_blog_content_creator_post_list_item .lime_blog_content_creator_post_list_item_headline_div .lime_blog_content_creator_post_list_item_headline_div_right .lime_blog_content_creator_post_list_date {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  align-items: flex-end;
  font-size: 0.8em;
  gap: 0.3em;
}
.lime_blog_content_creator_post_list_item .lime_blog_content_creator_post_list_item_headline_div .lime_blog_content_creator_post_list_item_headline_div_right .lime_blog_content_creator_post_list_date .lime_blog_content_creator_post_list_item_sticky_pin {
  display: none;
}
.lime_blog_content_creator_post_list_item .lime_blog_content_creator_post_list_item_excerpt {
  padding: 0 1em;
}
.lime_blog_content_creator_post_list_item .lime_blog_content_creator_post_list_item_excerpt p {
  margin-top: 0;
}
.lime_blog_content_creator_post_list_item .lime_blog_content_creator_post_list_item_image_container {
  display: flex;
  justify-content: center;
  max-height: 20em;
  margin-top: auto;
}
.lime_blog_content_creator_post_list_item .lime_blog_content_creator_post_list_item_image_container img {
  -o-object-fit: cover;
     object-fit: cover;
}
.lime_blog_content_creator_post_list_item .lime_blog_content_creator_post_list_item_icon_row {
  padding: 0.5em 1em;
  display: flex;
  gap: 1em;
  align-items: center;
  margin-top: auto;
}
.lime_blog_content_creator_post_list_item .lime_blog_content_creator_post_list_item_icon_row a {
  text-decoration: none;
  border-radius: 5em;
  padding: 0.5em;
  display: flex;
  height: 100%;
  align-items: center;
  box-sizing: border-box;
}
.lime_blog_content_creator_post_list_item .lime_blog_content_creator_post_list_item_icon_row a:hover {
  background-color: var(--lime_blog_primary_variant_darker);
}
.lime_blog_content_creator_post_list_item .lime_blog_content_creator_post_list_item_icon_row .lime_blog_content_creator_post_list_item_comments {
  font-size: 1.4em;
  justify-content: center;
  align-items: center;
}
.lime_blog_content_creator_post_list_item .lime_blog_content_creator_post_list_item_icon_row .lime_blog_content_creator_post_list_item_comments .fa-comment {
  height: 20px;
  width: 20px;
}
.lime_blog_content_creator_post_list_item .lime_blog_content_creator_post_list_item_tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  padding: 0 1em;
  margin-bottom: 1em;
}
.lime_blog_content_creator_post_list_item .lime_blog_content_creator_post_list_item_tags a {
  padding: 3px 6px;
  font-size: 13px;
  line-height: 1.5;
  border-radius: 3px;
  color: #424246;
  background-color: var(--lime_blog_primary_color);
  border-color: #ccc;
  display: inline-block;
  margin-bottom: 4px;
  margin-top: 4px;
  font-weight: 700;
  background-image: none;
  border: none;
  white-space: nowrap;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
}
.lime_blog_content_creator_post_list_item .lime_blog_content_creator_post_list_item_tags a:hover {
  background-color: var(--lime_blog_primary_variant_darker);
}
.lime_blog_content_creator_post_list_item.lime_blog_sticky_post .lime_blog_content_creator_post_list_item_headline_div .lime_blog_content_creator_post_list_item_headline_div_right .lime_blog_content_creator_post_list_date .lime_blog_content_creator_post_list_item_sticky_pin {
  display: block;
}/*# sourceMappingURL=content-creator-posts-list.css.map */