.lime_blog_frameless_posts_list {
    display: flex;
    flex-direction: column;
    gap: var(--lime_blog_frameless_post_list_spacing);
    padding: 0 2vw;
    margin: 0;

    li {
        list-style: none;
    }
}

.lime_blog_frameless_post_list_item {
    padding: var(--lime_blog_frameless_post_list_padding);
    background-color: var(--lime_blog_frameless_post_list_color);

    .lime_blog_frameless_post_list_item_row_1 {
        display: flex;
        flex-wrap: wrap;
        gap: 2em;
    }

    .lime_blog_frameless_post_list_item_tags_div {
        ul {
            display: flex;
            gap: 0.5em;
            padding: 0;

            li {
                list-style: none;
            }
        }
    }

    .lime_blog_frameless_post_list_item_link_div {
        display: flex;
        margin-bottom: 0.5em;

        .lime_blog_frameless_post_list_item_read_more {
            margin-left: auto;
        }
    }

    .lime_blog_frameless_post_list_item_image_container {
        flex: 1 0 40%;
        img {
            max-height: 25em;
            border-radius: var(--lime_blog_frameless_post_list_border_radius_image);
        }
    }

    .lime_blog_frameless_post_list_item_content_div {
        flex: 1 0 50%;
        min-width: 20em;

        p {
            line-height: var(--lime_blog_frameless_post_list_line_height);
        }
    }

    .lime_blog_tag {
        border-radius: var(--lime_blog_frameless_post_list_tags_border_radius);
    }

    .lime_blog_frameless_post_list_item_sticky_pin {
        margin: 0.5em;
        color: var(--lime_blog_primary_color);
        display: none;
    }

    &.lime_blog_sticky_post {
        .lime_blog_frameless_post_list_item_sticky_pin {
            display: block;
        }
    }
}