.blog_layouts_material2_posts_list {
  padding: 0 0.5em;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  flex-wrap: wrap;
  gap: var(--blog_layouts_material2_post_list_spacing);
  margin-bottom: 2em;
  width: 100%;
  justify-items: center;
}
.blog_layouts_material2_posts_list li {
  list-style: none;
}
@media only screen and (max-width: 800px) {
  .blog_layouts_material2_posts_list {
    grid-template-columns: 1fr;
  }
}
@media only screen and (min-width: 800px) {
  .blog_layouts_material2_posts_list {
    padding: 0 2vw;
  }
}

.blog_layouts_material2_post_list_item {
  max-width: 30em;
  background-color: var(--blog_layouts_material2_post_list_color);
  border-radius: 4px;
  overflow: hidden;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.blog_layouts_material2_post_list_item .blog_layouts_material2_post_list_item_image_container {
  display: flex;
  justify-content: center;
}
.blog_layouts_material2_post_list_item .blog_layouts_material2_post_list_item_image_container img {
  max-height: 20em;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
.blog_layouts_material2_post_list_item .blog_layouts_material2_post_list_item_sticky_pin {
  margin: 1em 0 0 1em;
  color: var(--blog_layouts_font_color);
  display: none;
}
.blog_layouts_material2_post_list_item.blog_layouts_sticky_post .blog_layouts_material2_post_list_item_sticky_pin {
  display: block;
}
.blog_layouts_material2_post_list_item .blog_layouts_material2_post_list_item_headline_row {
  text-decoration: none;
  display: flex;
  margin-top: 0.5em;
}
.blog_layouts_material2_post_list_item .blog_layouts_material2_post_list_item_headline_row h2 {
  font-size: 1.1em;
  padding: 0.5em 2em;
  line-height: 0.95em;
}
.blog_layouts_material2_post_list_item .blog_layouts_material2_post_list_item_date {
  padding: 0 2em;
}
.blog_layouts_material2_post_list_item .blog_layouts_material2_post_list_item_categories {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  padding: 0 2em;
}
.blog_layouts_material2_post_list_item .blog_layouts_material2_post_list_item_excerpt {
  padding: 0 2em;
  margin-bottom: auto;
}
.blog_layouts_material2_post_list_item .blog_layouts_material2_post_list_item_excerpt p {
  line-height: var(--blog_layouts_material2_post_list_line_height);
}
.blog_layouts_material2_post_list_item .blog_layouts_material2_post_list_item_tags {
  display: flex;
  gap: 0.5em;
  flex-wrap: wrap;
  margin-bottom: 1em;
  padding: 0 2em;
}
.blog_layouts_material2_post_list_item .blog_layouts_material2_post_list_item_tags a {
  font-size: 0.8em;
  padding: 0.8em;
  border-radius: 5em;
  color: #fafafa;
  background-color: #595959;
  text-decoration: none;
  transition: all 200ms;
  display: flex;
}
.blog_layouts_material2_post_list_item .blog_layouts_material2_post_list_item_tags a:hover {
  background-color: rgba(255, 255, 255, 0.329);
}
.blog_layouts_material2_post_list_item .blog_layouts_materiale_post_list_item_icon_row {
  display: flex;
  padding: 0 2em;
  margin-bottom: 1em;
  flex-wrap: wrap;
  gap: 1em;
}
.blog_layouts_material2_post_list_item .blog_layouts_materiale_post_list_item_icon_row a {
  text-decoration: none;
  color: var(--blog_layouts_primary_color);
  border-radius: 4px;
  padding: 0.7em 0.4em;
}
.blog_layouts_material2_post_list_item .blog_layouts_materiale_post_list_item_icon_row a:hover {
  background-color: var(--blog_layouts_primary_variant_much_darker);
}/*# sourceMappingURL=material2-posts-list.css.map */